body {
  background: #1C1C1C;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

main {
  margin-left: auto;
  margin-right: auto;
}

/* Titre */

header{
  display: flex;
  justify-content: center;
  background: #09c;
}
h1 {
  font-size: 48px;
  color: #fff;
}

h2 {
  color: #eee;
  margin-bottom: 16px;
}

h3 {
  color: #08f;
}

.ok {
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background-color: #0c9;
  font-weight: bold;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}

a{
  text-decoration: none;
  background: #FFF;
  padding: 16px 64px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.5);
  transition: 0.2s;
  margin-bottom: 32px;
}

.resultat {
  margin-top: 8px;
  font-size: 24px;
  border-radius: 8px;
  color: #9cf;
}

